In [1]:
%matplotlib inline
import pandas as pd #Para criação de DataFrames
import matplotlib.pyplot as plt #Para plotagem
import random

In [2]:
df = pd.read_csv('ocorrencia.csv')

In [3]:
df.head()

,codigo_ocorrencia,classificacao,tipo,localidade,uf,pais,aerodromo,dia_ocorrencia,horario,sera_investigada,comando_investigador,status_investigacao,numero_relatorio,relatorio_publicado,dia_publicacao,quantidade_recomendacoes,aeronaves_envolvidas,saida_pista,dia_extracao
0,47965,ACIDENTE,FALHA DO MOTOR EM VOO,ARIQUEMES,RO,BRASIL,SJOG,2013-05-05,11:00:00,***,SERIPA-7,NaN,NaN,NaN,NaN,0,1,NaN,2016-07-30
1,50313,INCIDENTE GRAVE,POUSO SEM TREM,CACOAL,RO,BRASIL,SSKW,2013-11-25,12:32:00,SIM,SERIPA-7,FINALIZADA,IG-209/CENIPA/2013,1.0,2014-04-07,0,1,NaN,2016-07-30
2,34078,ACIDENTE,PERDA DE CONTROLE NO SOLO,CEREJEIRAS,RO,BRASIL,****,2008-08-07,15:10:00,SIM,SERIPA-7,FINALIZADA,A - 517/CENIPA/2016,1.0,2016-07-07,0,1,1.0,2016-07-30
3,44988,ACIDENTE,POUSO LONGO,AMAJARI,RR,BRASIL,****,2011-08-11,17:00:00,SIM,SERIPA-7,FINALIZADA,A-105/CENIPA/2012,1.0,2012-09-20,4,1,NaN,2016-07-30
4,38855,ACIDENTE,PERDA DE CONTROLE EM VOO,ACEGUÁ,RS,BRASIL,****,2009-12-28,17:30:00,SIM,SERIPA-5,ATIVA,A DEFINIR,NaN,NaN,0,1,NaN,2016-07-30

In [4]:
# Verificar os tipos de cada coluna
df.dtypes

codigo_ocorrencia             int64
classificacao                object
tipo                         object
localidade                   object
uf                           object
pais                         object
aerodromo                    object
dia_ocorrencia               object
horario                      object
sera_investigada             object
comando_investigador         object
status_investigacao          object
numero_relatorio             object
relatorio_publicado         float64
dia_publicacao               object
quantidade_recomendacoes      int64
aeronaves_envolvidas          int64
saida_pista                 float64
dia_extracao                 object
dtype: object

In [5]:
#Nome das colunas
df.columns

Index(['codigo_ocorrencia', 'classificacao', 'tipo', 'localidade', 'uf',
       'pais', 'aerodromo', 'dia_ocorrencia', 'horario', 'sera_investigada',
       'comando_investigador', 'status_investigacao', 'numero_relatorio',
       'relatorio_publicado', 'dia_publicacao', 'quantidade_recomendacoes',
       'aeronaves_envolvidas', 'saida_pista', 'dia_extracao'],
      dtype='object')

In [6]:
#Retirando colunas que não serão usadas
df.drop(['aerodromo','horario','sera_investigada','comando_investigador',
                 'relatorio_publicado','dia_publicacao','quantidade_recomendacoes',
                 'aeronaves_envolvidas','saida_pista','dia_extracao', 'numero_relatorio'], axis = 1, inplace = True)

In [7]:
df.head()

,codigo_ocorrencia,classificacao,tipo,localidade,uf,pais,dia_ocorrencia,status_investigacao
0,47965,ACIDENTE,FALHA DO MOTOR EM VOO,ARIQUEMES,RO,BRASIL,2013-05-05,NaN
1,50313,INCIDENTE GRAVE,POUSO SEM TREM,CACOAL,RO,BRASIL,2013-11-25,FINALIZADA
2,34078,ACIDENTE,PERDA DE CONTROLE NO SOLO,CEREJEIRAS,RO,BRASIL,2008-08-07,FINALIZADA
3,44988,ACIDENTE,POUSO LONGO,AMAJARI,RR,BRASIL,2011-08-11,FINALIZADA
4,38855,ACIDENTE,PERDA DE CONTROLE EM VOO,ACEGUÁ,RS,BRASIL,2009-12-28,ATIVA

In [8]:
#Renomeando colunas do dataset ocorrencia.csv
df.columns = ['CÓDIGO DA OCORRÊNCIA','CLASSIFICAÇÃO','TIPO DE OCORRÊNCIA','LOCALIDADE',
                      'UF','PAÍS','DIA DA OCORRÊNCIA','STATUS DA INVESTIGAÇÃO']

#Inserindo coluna para contagem
df['CONTAGEM'] = 1

In [9]:
#Derrubando colunas onde o código da ocorrência é inválido
df['CÓDIGO DA OCORRÊNCIA'].dropna(axis = 0, inplace = True)

In [10]:
df.head()

,CÓDIGO DA OCORRÊNCIA,CLASSIFICAÇÃO,TIPO DE OCORRÊNCIA,LOCALIDADE,UF,PAÍS,DIA DA OCORRÊNCIA,STATUS DA INVESTIGAÇÃO,CONTAGEM
0,47965,ACIDENTE,FALHA DO MOTOR EM VOO,ARIQUEMES,RO,BRASIL,2013-05-05,NaN,1
1,50313,INCIDENTE GRAVE,POUSO SEM TREM,CACOAL,RO,BRASIL,2013-11-25,FINALIZADA,1
2,34078,ACIDENTE,PERDA DE CONTROLE NO SOLO,CEREJEIRAS,RO,BRASIL,2008-08-07,FINALIZADA,1
3,44988,ACIDENTE,POUSO LONGO,AMAJARI,RR,BRASIL,2011-08-11,FINALIZADA,1
4,38855,ACIDENTE,PERDA DE CONTROLE EM VOO,ACEGUÁ,RS,BRASIL,2009-12-28,ATIVA,1

In [11]:
df[df['UF'] == '***']

,CÓDIGO DA OCORRÊNCIA,CLASSIFICAÇÃO,TIPO DE OCORRÊNCIA,LOCALIDADE,UF,PAÍS,DIA DA OCORRÊNCIA,STATUS DA INVESTIGAÇÃO,CONTAGEM
2006,53112,ACIDENTE,OUTROS TIPOS,NÃO IDENTIFICADA,***,BRASIL,2015-03-06,ATIVA,1
2025,49474,ACIDENTE,CAUSADO POR FENÔMENO METEOROLÓGICO EM VOO,ÁGUAS INTERNACIONAIS,***,BRASIL,2013-09-01,ATIVA,1

In [12]:
df[df['UF'] == 'EX']

,CÓDIGO DA OCORRÊNCIA,CLASSIFICAÇÃO,TIPO DE OCORRÊNCIA,LOCALIDADE,UF,PAÍS,DIA DA OCORRÊNCIA,STATUS DA INVESTIGAÇÃO,CONTAGEM
2018,31375,ACIDENTE,FALHA DO MOTOR EM VOO,EXTERIOR,EX,PARAGUAI,2007-09-28,NaN,1
2019,60879,ACIDENTE,COLISÃO EM VOO COM OBSTÁCULO,EXTERIOR,EX,PARAGUAI,2008-02-03,NaN,1
2020,30915,ACIDENTE,PERDA DE CONTROLE NO SOLO,EXTERIOR,EX,URUGUAI,2007-02-16,NaN,1
2021,34081,ACIDENTE,COM TREM DE POUSO,EXTERIOR,EX,URUGUAI,2008-07-02,NaN,1
2022,36116,INCIDENTE GRAVE,PERDA DE COMPONENTE EM VOO,MEDELLIN,EX,COLÔMBIA,2009-03-26,NaN,1
2023,33715,INCIDENTE GRAVE,OUTROS TIPOS,LIMA,EX,PERU,2006-10-31,NaN,1
2024,25839,ACIDENTE,COLISÃO COM OBSTÁCULO NO SOLO,MENDONZA,EX,ARGENTINA,2006-01-03,NaN,1
2026,53403,ACIDENTE,OUTROS TIPOS,CAMBERLEY,EX,INGLATERRA,2015-07-31,NaN,1

In [13]:
df.drop([2006,2025, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2026], axis=0, inplace=True)

In [14]:
df.to_csv('ocorrencia_clean.csv', sep='\t')